@font-face {
  font-family: Averta;
  src: url('../fonts/Averta-Light.ttf'), url('../fonts/Averta-Light.ttf') format('truetype');
}
@font-face {
  font-family: Averta-Bold;
  src: url('../fonts/Averta-Bold.ttf'), url('../fonts/Averta-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Averta-Bold;
  src: url('../fonts/Averta-Bold.ttf'), url('../fonts/Averta-Bold.ttf') format('truetype');
}
@font-face {
  font-family: UVF-SlimTony;
  src: url('../fonts/UVF SlimTony.ttf'), url('../fonts/UVF SlimTony.ttf') format('truetype');
}
@font-face {
  font-family: Averta-Black;
  src: url('../fonts/Averta-Black.ttf'), url('../fonts/Averta-Black.ttf') format('truetype');
}
@font-face {
  font-family: jamai;
  src: url('../fonts/jamai.ttf'), url('../fonts/jamai.ttf') format('truetype');
}
@font-face {
  font-family: Averta-Regular;
  src: url('../fonts/Averta-Regular.ttf'), url('../fonts/Averta-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Averta-SemiboldItalic;
  src: url('../fonts/Averta-SemiboldItalic.ttf'), url('../fonts/Averta-SemiboldItalic.ttf') format('truetype');
}
@font-face {
  font-family: Averta-Semibold;
  src: url('../fonts/Averta-Semibold.ttf'), url('../fonts/Averta-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: GeoSlab703-Medium;
  src: url('../fonts/geoslabm.ttf'), url('../fonts/geoslabm.ttf') format('truetype');
}
@font-face {
  font-family: GeoSlab703-Extra;
  src: url('../fonts/geoslabe.ttf'), url('../fonts/geoslabe.ttf') format('truetype');
}
@font-face {
  font-family: GeoSlab703-Light;
  src: url('../fonts/geoslabl.ttf'), url('../fonts/geoslabl.ttf') format('truetype');
}
@font-face {
  font-family: Averta-ExtraBold;
  src: url('../fonts/Averta-ExtraBold.ttf'), url('../fonts/Averta-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: Averta-BoldItalic;
  src: url('../fonts/Averta-BoldItalic.ttf'), url('../fonts/Averta-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: Averta-RegularItalic;
  src: url('../fonts/Averta-RegularItalic.ttf'), url('../fonts/Averta-RegularItalic.ttf') format('truetype');
}
* {
  font-family: Averta;
}
.mdl-layout__drawer .mdl-navigation {
  background-color: #40c4ff !important;
}
.demo-drawer-header {
  background-color: #003e84cc;
}
.demo-layout .demo-drawer {
  overflow-x: hidden;
}
.demo-layout .demo-drawer::-webkit-scrollbar {
  width: 6px;
}
.demo-layout .demo-drawer::-webkit-scrollbar-track {
  background: #98aee3;
}
.demo-layout .demo-drawer::-webkit-scrollbar-thumb {
  background: #98aee3;
}
.demo-layout .demo-drawer::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}
.demo-layout .demo-drawer .demo-navigation .item-container {
  position: relative;
}
.demo-layout .demo-drawer .demo-navigation .item-container:hover {
  background-color: rgba(64, 196, 255, 0.5);
}
.demo-layout .demo-drawer .demo-navigation .item-container .mdl-subnavigation {
  display: none;
  background-color: #5fccfc87 !important;
  border-top: 1px solid #0003;
  border-bottom: 1px solid #0003;
}
.demo-layout .demo-drawer .demo-navigation .item-container .mdl-subnavigation .router-link-active {
  background-color: #98aee3;
}
.demo-layout .demo-drawer .demo-navigation .item-container .mdl-subnavigation.mdl-navigation {
  padding-top: 0;
}
.demo-layout .demo-drawer .demo-navigation .item-container .mdl-subnavigation a,
.demo-layout .demo-drawer .demo-navigation .item-container .mdl-subnavigation i {
  display: flex !important;
  color: #000000 !important;
  padding: 8px;
}
.demo-layout .demo-drawer .demo-navigation a,
.demo-layout .demo-drawer .demo-navigation i {
  color: #000000 !important;
  font-weight: 600;
  display: inline-flex !important;
  cursor: pointer;
}
.demo-layout .demo-drawer .demo-navigation a:hover {
  background-color: #40c4ff;
}
.demo-layout .demo-drawer .demo-navigation a:hover,
.demo-layout .demo-drawer .demo-navigation a:hover i {
  color: #000000 !important;
}
.demo-layout .demo-drawer .demo-navigation a .arrow {
  position: absolute;
  right: -8%;
  top: 28%;
}
